<main>
    <!-- start hero -->
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-12 text">
                    <h1>Build Better Websites With Bikin</h1>
                    <p>We are team of talented designers making websites with Bootstrap</p>
                    <button class="btn btn-primary">Get Started</button>
                </div>
                <div class="col-12 image">
                    <img src="/assets/image/hero-img.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- end hero -->
    <!-- start about -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 text-side">
                    <h3>Voluptatem dignissimos provident quasi</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                    </p>
                    <button class="rounded-pill">About us ></button>
                </div>
                <div class="col-lg-7 col-md-12 icon-side">
                    <div class="cards">
                        <div class="row">
                            <div class="card col-lg-6 col-md-12">
                                <i class="fa-solid fa-newspaper"></i>
                                <h4>Corporis voluptates sit</h4>
                                <p>
                                    Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut
                                    aliquip
                                </p>
                            </div>
                            <div class="card col-lg-6 col-md-12">
                                <i class="fa-solid fa-newspaper"></i>
                                <h4>Corporis voluptates sit</h4>
                                <p>
                                    Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut
                                    aliquip
                                </p>
                            </div>
                            <div class="card col-lg-6 col-md-12">
                                <i class="fa-solid fa-newspaper"></i>
                                <h4>Corporis voluptates sit</h4>
                                <p>
                                    Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut
                                    aliquip
                                </p>
                            </div>
                            <div class="card col-lg-6 col-md-12">
                                <i class="fa-solid fa-newspaper"></i>
                                <h4>Corporis voluptates sit</h4>
                                <p>
                                    Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut
                                    aliquip
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about -->
    <section id="sponsor">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-4 col-lg-2 sponsor-item">
                    <img src="/assets/image/client-1.png" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-2 sponsor-item">
                    <img src="/assets/image/client-2.png" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-2 sponsor-item">
                    <img src="/assets/image/client-3.png" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-2 sponsor-item">
                    <img src="/assets/image/client-4.png" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-2 sponsor-item">
                    <img src="/assets/image/client-5.png" alt="">
                </div>
                <div class="col-6 col-md-4 col-lg-2 sponsor-item">
                    <img src="/assets/image/client-6.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- start service -->
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="col-12 text">
                    <h2>Services</h2>
                    <p>
                        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem.
                        Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit
                        alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
                    </p>
                </div>
                <div class="col-12 cards">
                    <div class="service-cards">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3 service-card">
                                <i class="fa-solid fa-basketball"></i>
                                <a href="">Lorem Ipsum</a>
                                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi </p>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 service-card">
                                <i class="fa-solid fa-basketball"></i>
                                <a href="">Lorem Ipsum</a>
                                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi </p>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 service-card">
                                <i class="fa-solid fa-basketball"></i>
                                <a href="">Lorem Ipsum</a>
                                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi </p>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 service-card">
                                <i class="fa-solid fa-basketball"></i>
                                <a href="">Lorem Ipsum</a>
                                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end service -->
    <section id="workers">
        <div class="container">
            <div class="row">
                <div class="col-12 text">
                    <h2>Testimonials</h2>
                    <p>
                        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem.
                        Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit
                        alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
                    </p>
                </div>
                <div class="col-12 worker-cards">
                    <div class="workers">
                        <div class="row">
                            <div class="worker-card col-md-12 col-lg-6 col-xl-3">
                                <img src="/assets/image/team-1.jpg" alt="">
                                <div class="card-text">
                                    <p>Walter White</p>
                                    <span>Product Manager</span>
                                    <ul>
                                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="worker-card col-md-12 col-lg-6 col-xl-3">
                                <img src="/assets/image/team-2.jpg" alt="">
                                <div class="card-text">
                                    <p>Walter White</p>
                                    <span>Product Manager</span>
                                    <ul>
                                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="worker-card col-md-12 col-lg-6 col-xl-3">
                                <img src="/assets/image/team-3.jpg" alt="">
                                <div class="card-text">
                                    <p>Walter White</p>
                                    <span>Product Manager</span>
                                    <ul>
                                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="worker-card col-md-12 col-lg-6 col-xl-3">
                                <img src="/assets/image/team-4.jpg" alt="">
                                <div class="card-text">
                                    <p>Walter White</p>
                                    <span>Product Manager</span>
                                    <ul>
                                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>